@charset "utf-8";

body {
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: green;
    font-family: "Georgia", serif;
  }

div {
    display: flex;
    background-color: lightgray;
    padding: 0px;
    margin: 10px;
}
header{
    background-image: url("red-polkadot-background.jpg");;
    padding-top:30px;
    padding-bottom: 30px;
    color: green;
    font-size: 150%;
    font-weight: bold;
}
header h1{
    font-size: 300%;
    text-align: center;
}

header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 10%;
    max-height: 10%;
  }

header p{
    text-align: center;
}
nav {
    height: 50px;
    flex: 100%;
    display: flex;
  }

nav ul {
    padding: 0px;
    list-style-type: none;
    color: green;
    flex: 2;
    display: flex;
  }

nav a , nav span {
    display: inline-block;
    font-size: 2rem;
    height: 3rem;
    line-height: 1.7;
    display: block;
    color: white;
    background-color: green;
    padding:10px;
    text-align: center;
    text-decoration: none;
  }
nav a:hover {
    background-color: red;
  }

nav li{
    display: inline;
    text-align: center;
    flex: 1;
}

article, section {
    flex: 4;
  }

  aside {
    flex: 1;
    margin-left: 10px;
    padding: 1%;
  }

  aside a {
    display: block;
    width: 50%;
  }

  footer {
    margin-top: 10px;
  }
